<mat-toolbar color="primary">
  <span>Random Password Generator</span>
  <span class="toolbar-spacer"></span>
  <a href="https://github.com/arami265/angular-password-generator">
    <button mat-raised-button
    type='button'
    color="accent">Back</button>
  </a>
</mat-toolbar>

<div class="centered-flex padded">
  <img src="../assets/img/password-interface-protection-sign.png"
  width="250px">
</div>

<div class="larger-width centered padded left-text">
  <h3>This page is an implementation of a basic password generating app, with clean logic and utilizing beautiful Angular material components.</h3>
  <h3>Go ahead and try various inputs, including massive password lengths!</h3>
</div>

<div class="med-width centered">
  <mat-card>
    <form autocomplete="off">
      <mat-form-field class="full-width">
        <mat-label>Enter the desired password length here</mat-label>
        <input matInput type="text" (input)="onInputLength($event.target!)" />
      </mat-form-field>

      <br>
      <mat-checkbox (change)="onChangeUseLetters()">Use letters</mat-checkbox>
      <mat-checkbox *ngIf="useLetters" class="pad-left" (change)="onChangeUseUppercase()">No uppercase</mat-checkbox>
      <br>
      <mat-checkbox (change)="onChangeUseNumbers()">Use numbers</mat-checkbox>
      <br>
      <mat-checkbox (change)="onChangeUseSymbols()">Use symbols</mat-checkbox>
      <br><br>

      <mat-form-field class="full-width">
        <mat-label>(Optional) Enter any unallowed characters here</mat-label>
        <input matInput type="text" (input)="onInputUnallowed($event.target!)" />
      </mat-form-field>

      <br>
      <button mat-raised-button
      type='button'
      color="primary"
      [disabled]="!isGenerateValid()"
      (click)="onClickGeneratePassword()">Generate</button>
    </form>

    <div *ngIf="password.length > 0">
      <br>
      Your generated password:
      <br>
      {{ password }}
    </div>
  </mat-card>
</div>
